@{
    ViewBag.Title = "RegisterSuccess";
}

<div class="container">
    <div class="page-header">
        <h2>Vous êtes désormais User</h2>
        <p>Vous pouvez gérer le contenu du site</p>
        <div class="section">
             @Html.ActionLink("Accéder à l'administration", "Index", "PostManager", false, new { @class="btn btn-large btn-primary" })
           
        </div>
    </div>
</div>

