@model MvcCms.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="page-header">
        <h2>@Model.Title</h2>
    </div>
     @Html.Raw(Model.Content)
    <div>@Model.Date.ToString("dd/MM/yyyy")</div>
    
</div>
