@model IEnumerable<MvcCms.Models.Tag>

@{
    ViewBag.Title = "GetMenuTags";
    Layout = null;
}




<ul class="dropdown-menu">
    @foreach (var tag in Model)
    {
        <li>@Html.ActionLink(tag.Name, "Navigation", new { tag = tag.TagId, title=tag.Name })</li>
    }
</ul>
